body
{
    margin: 0px;
    padding: 0px;
}
h1
{
    font-size: 40px;
    color: white;
    width: 500px;
    margin-left: 500px;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
}
p
{
    color: #ffff;
    font-weight: bold;
}
a
{
    color: darkgray;
    font-weight: bold;
    font-weight: unset;

}
nav
{
    padding-left: 0px;
    height: 220px;
}
ul
{
    padding-left: 0px;
    margin-bottom: 0px;
    height: 250px;
    margin-top: 0px;


}
ol
{
    list-style: none;
    padding: 0px;
}
.ol2
{
  
    width: 100px;
    margin-left: 160px;
    padding-top: 30px;
    font: bold large bolder;

}
button
{
    width: 300px;
    height: 63px;
    border-right-width: 0px;
    border: #ffffff;
    font-weight: bold;
    text-align: left;
    padding-right: 0px;
    padding-left: 20px;
    font-weight: bold;
    font-weight: unset;
    list-style: none;
}
.header
{
    width: 1498.990px;
    height:100px;
   background-color: rgb(0, 36, 36);
   margin:0px;
   background-size:cover;
}
img
{
    position: absolute;
    width: 70px;
    height: 100px;
    top: 10px;
}
.content
{

    background-image: url(../Images/img-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1498.990px;
    height: 700px;
    
}
.content .menu2
{
    width:400px;
    height: 300px;
    position: absolute;  
    right: 0px;
    top: 90px;
    left: 350px;
    height: 500px;
    width: 500px;
    background-color: #fbfafa;
    box-shadow: 0 0 8px #c1c1c1;
    background-color: white;

}
#container
{
    top: 200px;
    left: 400px;
    width: 400px;
    height: 330px;
    position: absolute;
    border-radius: 20px;
}
#container .bar2
{
    height: 60px;
    background-color: darkturquoise;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 20px;
    padding-top: 10px;
}
#container .x
{
    text-decoration:none; 
    color: #ffff;
    margin-bottom: 0px;
    position: absolute;
    left: 350px;
    top: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#formu
{
    width: 400px; 
    height: 270px;
    background-color: #ffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
#formu .form-control
{
    width: 350px; 
    height: 40px; 
    padding-left: 10px;
    margin-left: 20px;
    font-weight: bold;
}
.valide
{
    margin-top: 25px;

}   
#error-1
{
    color: red;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin-left: 30px;
}
#error-2
{
    color: red;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin-left: 15px;
}
.icon-form
{
    height: 40px;
    width: 40px;
    position: relative;    
    left: 350px;  
    top: 55px;


}
.icon-form-login
{
    background-image: url(../Images/Icônes/ic-login.png);
    background-repeat: no-repeat;
}
.icon-form-pwd
{
    background-image: url(../Images/Icônes/ic-password.png);
    background-repeat: no-repeat;
}
.bouton
{
    width: 115px;
    height: 50px;
    margin-left: 20px;
    background-color: darkturquoise;
    font-weight: bold;
    border: 1px solid darkturquoise;
    border-radius: 5px;
    padding: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: #ffff;
    font: bold, #ffffff ;
    color: #ffff;
    margin-right: 50px;
    text-decoration: none;
    
}
.admin1
{
    background-color: #ffffff;
    position: absolute; 
    width: 1000px;
    height: 660px;
    top: 120px;
    left: 40px;
}
.admin2
{
    background-color: #ffffff;
    position: absolute; 
    width: 1000px;
    height: 600px;
    left: 40px;
    top: 120px;
    height: 650px;
    border-radius: 5px;

}
.header1
{
    height: 80px;
    background-color:#51bfd0;

}
.header2
{
    height: 80px;
    background-color:#51bfd0;

}
.text
{   
    
    margin-left: 350px;
    width: 500px;
    position: absolute;
    color: white;
}
.deconnecter
{  
    margin-left: 0px;
    position: absolute;    
    top: 20px;
    left: 870px;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: blanchedalmond;
    background-color: darkturquoise;
    box-shadow: 0 0 6px #9a9090;
    color: white;
    text-decoration: none;
    color: #ffffff;
    
   

}
.form-admin 
{
     
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    color: white;
    box-shadow: 0px 0px 7px #cec8c8;
    
}
.form-menu
{
    
    text-decoration: none;
    
}
.form-admin .form-menu .liste-question
{
    background-image: url(../Images/Icônes/ic-liste.png);
}
.creer-admin
{
    background-image: url(../Images/Icônes/ic-ajout-active.png);
}
.liste-joueurs
{
    background-image: url(../Images/Icônes/ic-liste.png);
}
.creer-question
{
    background-image: url(../Images/Icônes/ic-ajout.png);
}
.menu1
{
    margin-top: 30px;
}
.head-menu
{
    height: 150px;
    width: 300px;
    background-color: #51bfd0;
    color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: inset 0px 20px 11px 0px white;
    
}
.image1
{
    
    top: 90px;
    width: 100px;
    left: 10px;

}
.listej
{

    position: absolute;  
    right: 0px;
    top: 90px;
    left: 350px;
    height: 550px;
    width: 500px;
    background-color: #fbfafa;
    box-shadow: 0 0 8px #c1c1c1;

}
.listej2
{
    width: 300px;
    height: 400px;
    background-color: lightseagreen;
    margin: 20px;
    margin-left: 50px;
    width: 400px;
    margin-bottom: 50px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px #51bfd0;
    background-color: white;
    
}
.entete
{
    margin-top: 25px;
    color: #818181;
    font-style: italic;
    margin-left: 100px; 
}
.text1
{
    position: absolute;
    color: white;
    text-align: center;
    width: 570px;
    right: 200px;
    margin-left: 0px;
    top: 0px;
}
.menu2
{
    
    width: 100px;
    height: 0px;
    left: 10px;
    top: 60px;
}
.form2
{
    margin-left: 25px;
    margin-top: 10px;
    width: 950px;
    height: 550px;
    box-shadow: 0 0 16px #868686;
    border-radius: 5px;
    
}
.form-question
{
    width: 600px;
    height: 500px;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 0px;
    box-shadow: 0 0 0px 1px #0642ec;
    position: absolute;
    top: 100px;
    border-radius: 5px;
}
.question1
{
    width: 560;
    height: 130px;
    margin: 20px;
    background-color: rgba(238, 238, 238, 0.979);
    box-shadow: 0 1px #0348c5;

}
.precedent
{

    position: absolute;
    width: 100px;
    height: 40px;
    border: blanchedalmond;
    background-color: #818181;
    box-shadow: 0 0 6px #9a9090;
    text-decoration: none;
    left: 20px;
    top: 500px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: #ffff;
    font: bold, #ffffff ;
    color: #ffff;
    margin-right: 50px;
    
}
.suivant
{
    position: absolute;
    width: 100px;
    height: 40px;
    border: blanchedalmond;
    background-color: darkturquoise;
    box-shadow: 0 0 6px #9a9090;
    color: white;
    text-decoration: none;
    color: #ffffff;
    left: 480px;
    top: 500px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: #ffff;
    font: bold, #ffffff ;
    color: #ffff;
    margin-right: 50px;
}
.Qh2
{
    text-align: center;
    text-decoration: underline;
}
.Qh3
{
    text-align: center;
}
.Q1
{
    margin-left: 80px;
    margin-top: 50px;
    height: 200px;
}
#html
{
    margin: 1px;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0 1px #00c1fb;

}
.score
{
    width: 250px;
    height: 400px;
    position: absolute;
    left: 700px;
    top: 130px;
    box-shadow: 0 0 6px #c1c1c1;
    border-radius: 3px;


}
.liste-score
{
    margin-left: 50px;
}
.content .menu2
{
    background-color: white;
    width: 800px;
    margin-left: 145px;
    border-radius: 5px;
    padding-left: 50px;
    height: 700px;
    box-shadow: 0 0 20px #6d6d6d;
    left: 0px;
    top: 100px;
}
.h3i
{
    color: #818181;
}
.p2
{
    color: #818181;
}
.menu-inscrire
{
    height: 5px;
    width: 500px;
    margin-right: 100px;
    color: #818181;
    background-color: #818181;
    position:absolute;
    left: 0px;
    top: 120px;
}
.label
{
    color: #818181;
    font-size: larger;
}
.input1
{
    width: 350px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 0 0 1px black;
}
.input-submit
{
    width: 100px;
    height: 30px;
    margin-left: 100px;
    background-color: darkturquoise;
    font-weight: bold;
    border: 1px solid darkturquoise;
    border-radius: 2px;
    font: #ffffff;
    color: white ;
}
.img-inscrire
{
    position:absolute;
    top: 50px; 
    width: 200px; 
    height:200px; 
    border-radius:50%; 
    left: 600px;
    border: 2px darkturquoise;
    box-shadow: 0 0 0px 3px #00c1fb
}
.nom-avatar
{
    position:absolute;
    left: 650px;
    top: 250px;
}
#text
{
    text-align: justify;
    
}
.question
{
    position: absolute;
    left: 350px;
    background: white; 
    top: 80px;
    width: 600px;
    height: 550px;
    font-style: normal;
    color: #818181;
   font-weight: bold;
   
}
.champ
{
    height: 50px;
    width: 400px;
    border:0px;
}
.row
{

}
.formu-question
{
    color: #818181;
    font-size: larger;
    box-shadow: 0 0 0 1px #00bcf5;
    margin: 20px;
    height: 450px;
    border-radius: 3px;
    padding-left: 20px;
    padding-top: 30px;
}
.btn_ajout
{

    position: absolute;
    border-radius: 5px;
    background-image: url(../Images/Icônes/ic-ajout-réponse.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 238px;
    left: 490px;
    width: 40px;
    height: 40px;


}
.btn_supprimer
{

    width: 20px;
    height: 28px;
    background-image: url(../Images/Icônes/ic-supprimer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

